{% extends 'base.html' %}
{% load static %}
{% block customcss %}
<link rel="stylesheet"  type="text/css" href="{% static 'login.css' %}">
{% endblock customcss %}

{% block content %}
<body class="text-center">
  <form class="form-signin" method='post' action="">{% csrf_token %}
    <img class="mb-4" src="/docs/4.3/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign Up!</h1>
    {% if errorMessage %}
    {{ errorMessage }}
    {% endif %}
    <label for="inputEmail" class="sr-only">username</label>
    <input type="text" name='username' id="inputEmail" class="form-control" placeholder="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name='password' id="inputPassword" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2019</p>
  </form>
</body>
{% endblock content %}
